body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: max-content;
  background: linear-gradient(to left, #6a11cb, #2575fc, #6a11cb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content-top button {
  border: 1px solid white;
  background: linear-gradient(to left, #6a11cb, #2575fc, #6a11cb);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-top-left span {
  font-size: 22px;
  color: white;
}

.content-middle {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #6a11cb;
  border-radius: 20px;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.card.rotate {
  animation: spin 2s linear;
  background: white;
  pointer-events: none;
}

.card-open {
  background: white !important;
  pointer-events: none;
}

.card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6a11cb88;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  background: url("./assets/images/pokemon.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.card-close {
  background: url("./assets/images/pokemon.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.card img {
  width: 80px;
  height: 80px;
}

.content-footer {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.content-footer a {
  color: white;
  font-weight: 600;
}
